<div class="narvar3">

</div>
<fa-icon [icon]="Icon.faCookie"></fa-icon>
<!--NAVABAR 1-->
<nav class="narvar1">
    
    <div class="narvar2">
             <div>
                <img src="./../../../assets/img/Img_Welcome/images.png" alt="" class="logo"> 
             </div>        
            <div>
                <strong>Ofertas del 50 % de descuento</strong>
            </div>
            
            <div class="narvar2P">
                <img class="imgLogin" src="./../../../assets/img//Img_Welcome/right-to-bracket-solid.svg" alt="">
                <button class="narv1"><a href="" class="aCuenta" routerLink="/auth">Cuenta</a></button>
                <img src="./../../../assets/img/Img_Welcome/cart-shopping-solid.svg" alt="" class="imgCarrito">
                <button  class="narv1"><a href="" class="aCuenta">Carrito</a></button>
            </div>
    </div>
    
</nav>
<!--BUSCADOR-->
<nav class="" >
    <div class="narvar3">
        
            <button class="narvar2B"><a href="" class="aNarvar">Lo nuevo</a></button>
            <button class="narvar2B"><a href="" class="aNarvar">Hombres</a></button>
            <button class="narvar2B"><a href="" class="aNarvar">Mujeres</a></button>
        
        <div>
            <button class="narvar2B"><a href="">Buscar</a></button>
            
        </div>
    </div>
</nav>
  
  
<!--CARRUSEL-->
  
<div class="imagenCentral">
    <img src="./../../../assets/img/Img_Welcome/Zapatos para mujer 3x99_D.webp" alt="">
</div>
      
<!--CONTENIDO-->
<h2>BOTINES</h2>
<div class="contendido-centro">
    
     <img src="./../../../assets/img/Img_Welcome/MODELOS-[Recuperado]2.gif" alt="" class="imagen"> 
     <div>
        <img src="./../../../assets/img/Img_Welcome/Botin 1.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Botines para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        
        <button class="ButonCarrito">Añadir Carrito</button>

     </div>
      <div>

        <img src="./../../../assets/img/Img_Welcome/Botin 2.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Botines para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        <button class="ButonCarrito">Añadir Carrito</button>
      </div>   
   
   
    
    
</div >
<h2>TACOS</h2>
<div class="contendido-centro">
    
    <div>
        <img src="./../../../assets/img/Img_Welcome/720X1300-ecco.jpg" alt="" class="imagen"> 
    </div>
    <div >
        <img src="./../../../assets/img/Img_Welcome/Taco 1.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Tacos para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        <button class="ButonCarrito">Añadir Carrito</button>
        

    </div>
    <div>
        <img src="./../../../assets/img/Img_Welcome/taco 2.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Tacos para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        <button class="ButonCarrito">Añadir Carrito</button>
    </div>  
</div>


<!--PIE DE PAGINA-->        
<address class="PIE">
    <div>
        <button>Atencion al Cliente</button>
                    
    </div>
    <div>
                    


    </div>


</address>
    
    

<address class="pie1">
    
        <div  class="pie1-Cont">
            <label for="" class="AYUDA">D'LOPEZ </label>
            <p>
                <a href="" class="a1">> Quienes somos</a>
            </p>
            <p>
                <a href="" class="a1">> Direccion</a>   
            </p>
             <p>
                <a href="" class="a1">> Preguntas Frecuentes</a>   
             </p>     
        </div>
        <div class="pie1-Cont">
            <label for="" class="AYUDA">Servicio Al Cliente </label>
            <p>
                <a href="" class="a1">> Quienes somos</a>
            </p>
            <p>
                <a href="" class="a1">> Direccion</a>   
            </p>
             <p>
                <a href="" class="a1">> Preguntas Frecuentes</a>   
             </p>     
        </div>
</address>
