<div class="container-fluid">

    <aside class="row">
        <div class="col-12" id="seccion"></div>
    </aside>

    <header class="row" id="navegacion">
        <figure class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div id="contenido-img">
                <img src="./../../../assets/img/Img_Welcome/images.png" alt="">
            </div>
        </figure>
        <div class="col-lg-4 col-md-4" id="relleno"></div>
        <ul class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="inicio">
            <li>
                <a href="">
                    <fa-icon [icon]="Icon.faRightToBracket"></fa-icon>
                    Cuenta
                </a>
            </li>
            <li>
                <a href="">
                    <fa-icon [icon]="Icon.faCartShopping"></fa-icon>
                    Carrito
                </a>
            </li>
        </ul>
    </header>

    <nav class="row" id="nav">
        <ul class="row">
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="">
                    <fa-icon [icon]="Icon.faCartShopping"></fa-icon>
                    Inicio
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="">
                    <fa-icon [icon]="Icon.faCartShopping"></fa-icon>
                    Visita nuestro Catalogo
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="">
                    <fa-icon [icon]="Icon.faCartShopping"></fa-icon>
                    Conocenos
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="">
                    <fa-icon [icon]="Icon.faCartShopping"></fa-icon>
                    Sugerencias
                </a>
            </li>
        </ul>
    </nav>

    <div class="contendido-centro row">
        <aside class="col-lg-3">
            <h2>BOTINES</h2>
            <img src="./../../../assets/img/Img_Welcome/MODELOS-[Recuperado]2.gif" alt="" class="imagen"> 
        </aside>
        <section class="row col-lg-9">
           <div class="col-lg-6">
                <figure>
                    <img src="./../../../assets/img/Img_Welcome/Botin 1.jpg" width="350" height="250" alt="">
                </figure>
                <ul>
                    <li class="infoContenido"><a href="">Botines para mujer</a></li>
                    <li class="infoContenido">Precio Normal 150 Docena</li>
                </ul>
                
                <button class="ButonCarrito">
                    <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
                    Añadir Carrito
                </button>
           </div>
           <div class="col-lg-6">
                <figure>
                    <img src="./../../../assets/img/Img_Welcome/Botin 2.jpg" width="350" height="250" alt="">
                </figure>
                <ul>
                    <li class="infoContenido"><a href="">Botines para mujer</a></li>
                    <li class="infoContenido">Precio Normal 150 Docena</li>
                </ul>
                
                <button class="ButonCarrito">
                    <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
                    Añadir Carrito
                </button>
           </div>
        </section>
    </div>

    <div class="contendido-centro row">
        <aside class="col-lg-3">
            <h2>BOTINES</h2>
            <img src="./../../../assets/img/Img_Welcome/720X1300-ecco.jpg" alt="" class="imagen">
        </aside>
        <section class="row col-lg-9">
           <div class="col-lg-6">
                <figure>
                    <img src="./../../../assets/img/Img_Welcome/Taco 1.jpg" width="350" height="250" alt="">
                </figure>
                <ul>
                    <li class="infoContenido"><a href="">Botines para mujer</a></li>
                    <li class="infoContenido">Precio Normal 150 Docena</li>
                </ul>
                
                <button class="ButonCarrito">
                    <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
                    Añadir Carrito
                </button>
           </div>
           <div class="col-lg-6">
                <figure>
                    <img src="./../../../assets/img/Img_Welcome/taco 2.jpg" width="350" height="250" alt="">
                </figure>
                <ul>
                    <li class="infoContenido"><a href="">Botines para mujer</a></li>
                    <li class="infoContenido">Precio Normal 150 Docena</li>
                </ul>
                
                <button class="ButonCarrito">
                    <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
                    Añadir Carrito
                </button>
           </div>
        </section>
    </div>

    
    <address class="PIE">
        <div>
            <button>Atencion al Cliente</button>
                        
        </div>
        <div>
                        


        </div>


    </address>
        
        

    <footer class="pie1 row">
        
            <div  class="pie1-Cont col-lg-6 col-xs-12">
                <label for="" class="AYUDA">D'LOPEZ </label>
                <p>
                    <a href="" class="a1">> Quienes somos</a>
                </p>
                <p>
                    <a href="" class="a1">> Direccion</a>   
                </p>
                <p>
                    <a href="" class="a1">> Preguntas Frecuentes</a>   
                </p>     
            </div>
            <div class="pie1-Cont col-lg-6 col-xs-12">
                <label for="" class="AYUDA">Servicio Al Cliente </label>
                <p>
                    <a href="" class="a1">> Quienes somos</a>
                </p>
                <p>
                    <a href="" class="a1">> Direccion</a>   
                </p>
                <p>
                    <a href="" class="a1">> Preguntas Frecuentes</a>   
                </p>     
            </div>
        </footer>
</div>


<!--
<div class="narvar3">

</div>

<nav class="narvar1">
    
    <div class="narvar2">
             <div>
                <img src="./../../../assets/img/Img_Welcome/images.png" alt="" class="logo"> 
             </div>        
            <div>
                <strong>Ofertas del 50 % de descuento</strong>
            </div>
            
            <div class="narvar2P">
                <button class="narv1">
                    <fa-icon class="" [icon]="Icon.faRightToBracket"></fa-icon>
                    <a href="" class="aCuenta" routerLink="/auth">Cuenta</a>
                </button>
                <button  class="narv1">
                    <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
                    <a href="" class="aCuenta">Carrito</a>
                </button>
            </div>
    </div>
    
</nav>

<nav class="" >
    <div class="narvar3">
        
            <button class="narvar2B"><a href="" class="aNarvar">Lo nuevo</a></button>
            <button class="narvar2B"><a href="" class="aNarvar">Hombres</a></button>
            <button class="narvar2B"><a href="" class="aNarvar">Mujeres</a></button>
        
        <div>
            <button class="narvar2B"><a href="">Buscar</a></button>
            
        </div>
    </div>
</nav>
  
  

  
<div class="imagenCentral">
    <img src="./../../../assets/img/Img_Welcome/Zapatos para mujer 3x99_D.webp" alt="">
</div>
      
<h2>BOTINES</h2>
<div class="contendido-centro">
    
     <img src="./../../../assets/img/Img_Welcome/MODELOS-[Recuperado]2.gif" alt="" class="imagen"> 
     <div>
        <img src="./../../../assets/img/Img_Welcome/Botin 1.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Botines para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        
        <button class="ButonCarrito">
            <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
            Añadir Carrito
        </button>

     </div>
      <div>

        <img src="./../../../assets/img/Img_Welcome/Botin 2.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Botines para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        <button class="ButonCarrito">
            <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
            Añadir Carrito
        </button>
      </div>   
   
   
    
    
</div >
<h2>TACOS</h2>
<div class="contendido-centro">
    
    <div>
        <img src="./../../../assets/img/Img_Welcome/720X1300-ecco.jpg" alt="" class="imagen"> 
    </div>
    <div >
        <img src="./../../../assets/img/Img_Welcome/Taco 1.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Tacos para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        <button class="ButonCarrito">
            <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
            Añadir Carrito
        </button>
        

    </div>
    <div>
        <img src="./../../../assets/img/Img_Welcome/taco 2.jpg" alt="" class="imagen-contenido">
        <p>
            <li class="infoContenido"><a href="">Tacos para mujer</a></li>
            <li class="infoContenido">Precio Normal 150 Docena</li>
        </p>
        <button class="ButonCarrito">
            <fa-icon class="me-2" [icon]="Icon.faCartShopping"></fa-icon>
            Añadir Carrito
        </button>
    </div>  
</div>

   
<address class="PIE">
    <div>
        <button>Atencion al Cliente</button>
                    
    </div>
    <div>
                    


    </div>


</address>
    
    

<address class="pie1">
    
        <div  class="pie1-Cont">
            <label for="" class="AYUDA">D'LOPEZ </label>
            <p>
                <a href="" class="a1">> Quienes somos</a>
            </p>
            <p>
                <a href="" class="a1">> Direccion</a>   
            </p>
             <p>
                <a href="" class="a1">> Preguntas Frecuentes</a>   
             </p>     
        </div>
        <div class="pie1-Cont">
            <label for="" class="AYUDA">Servicio Al Cliente </label>
            <p>
                <a href="" class="a1">> Quienes somos</a>
            </p>
            <p>
                <a href="" class="a1">> Direccion</a>   
            </p>
             <p>
                <a href="" class="a1">> Preguntas Frecuentes</a>   
             </p>     
        </div>
</address>
-->
