<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h1 class="mt-4">MANTENIMIENTO DE UNIDA</h1>
        </div>
        <div class="card-body">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>IdUnidad</th>
                        <th>NombreUnidad</th>
                        <th>Descripcion</th>
                        <th>
                            
                            <button (click)="CrearUnidad(modalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                      
                    <tr *ngFor=" let u of unidad">
                        <td>{{u.idUnidad}}</td>
                        <td>{{u.nombreUnidad}}</td>
                        <td>{{u.descriccion}}</td>
                        
                        <td>
                            <button (click)="EditarUnidad(modalEdit,u)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <!--  
                            <button (click)="eliminarRegistro(cargo.id)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                        -->
                    </tr>
                -
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #modalEdit>
    <app-mant-unidad-registe
    [title]="titleModal"
    [unidad]="unidadSelected"
    [actionModal]="actionModal"
    (closeModalEmmit)="GetCloseModalEmmit($event)"
    ></app-mant-unidad-registe>
</ng-template>