<div class="nav">
    <div class="sb-sidenav-menu-heading">D Lopez</div>
    <a class="nav-link" routerLink="/">
        <div class="sb-nav-link-icon"><fa-icon [icon]="icon.faHouse" class="fas"></fa-icon></div>
        Pagina principal
    </a>
    <div class="sb-sidenav-menu-heading">Interface</div>
    
    <!--*Navegacion responsivas-->
    <div *ngFor="let m of menu">    
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + m.target"
        aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><fa-icon [icon]="icon.faColumns" class="fas"></fa-icon></div>
        {{m.name}}
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div *ngFor="let x of m.submenu" class="collapse" id="{{m.target}}" aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
            
                <a class="nav-link" [routerLink]="[x.url]">
                    <fa-icon  [icon]="x.icon" class="me-2"></fa-icon>
                    {{x.name}}
                </a>
                
            </nav>
        </div>
    </div>
    
</div>
