<div class="nav">
    <div class="sb-sidenav-menu-heading">D Lopez</div>
    <a class="nav-link" routerLink="/">
        <div class="sb-nav-link-icon"><fa-icon [icon]="icon.faHouse" class="fas"></fa-icon></div>
        Pagina principal
    </a>
    <div class="sb-sidenav-menu-heading">Interface</div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
        aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><fa-icon [icon]="icon.faColumns" class="fas"></fa-icon></div>
        Compras de Material
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link">
                <fa-icon [icon]="icon.faBasketShopping" class="me-2"></fa-icon>
                Comprobante
            </a>
           
            <a class="nav-link">
                <fa-icon [icon]="icon.faLightbulb" class="me-2"></fa-icon>
                Unidad
            </a>
            <a class="nav-link">
                <fa-icon [icon]="icon.faStore" class="me-2"></fa-icon>
                Material
            </a>
            <a class="nav-link" routerLink="mantenimiento/proveedor">
                <fa-icon [icon]="icon.faPerson" class="me-2"></fa-icon>
                Proveedor
            </a>
        </nav>
    </div>
    <!--*Produccion-->
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#produccion"
    aria-expanded="false" aria-controls="produccion">
    <div class="sb-nav-link-icon"><fa-icon [icon]="icon.faColumns" class="fas"></fa-icon></div>
    Produccion
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="produccion" aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
           
            <a class="nav-link" routerLink="produccion/area">
                <fa-icon  [icon]="icon.faLightbulb" class="me-2"></fa-icon>
                Area
            </a>
            
        </nav>
    </div>
</div>
