<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h1 class="mt-4">PRODUCCION AREA</h1>
        </div>
        <div class="card-body">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>IdUnidad</th>
                        <th>NombreUnidad</th>
                        <th>Descripcion</th>
                        <th>
                            
                            <button (click)="CrearArea(editModal)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                      
                    <tr *ngFor="let a of listArea">
                        <td>{{a.idArea}}</td>
                        <td>{{a.nombreArea}}</td>
                        <td>{{a.descripcion}}</td>
                        
                        <td>
                            <button (click)="EditarArea(editModal,a)"  class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <!--  
                            <button (click)="eliminarRegistro(cargo.id)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                        -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #editModal>
    <app-prod-registro-area
    [title]="titleModal"
    [actionModal]="actionModal"
    [reponseArea]="responseArea"
    (closeModalEmmit)="GetCloseModalEmmit($event)"
    ></app-prod-registro-area>
</ng-template>