<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h1 class="mt-4">REGISTROS DE CLIENTES</h1>
        </div>
        <div class="card-body">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>IdCliente</th>
                        <th>NombrePersona</th>
                        <th>TipoDocumento</th>
                        <th>Numero Documento</th>
                        <th>Numero Telefono</th>
                        <th>Direccion</th>
                        <th>FechaNacimiento</th>
                        <th>Estado</th>
                        <th>
                            
                            <button (click)="CrearCliente(modalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor=" let c of responseVwCliente">
                    
                    <tr *ngFor=" let cliente of c.cliente">
                        <td>{{cliente.idCliente}}</td>
                        <td>{{cliente.nombrePersona}}</td>
                        <td>{{cliente.tipoDocumento}}</td>
                        <td>{{cliente.numeroDocumento}}</td>
                        <td>{{cliente.telefono}}</td>
                        <td>{{cliente.direccion}}</td>
                        <td>{{cliente.fechaNacimiento | date: 'dd-MM-YYYY'}}</td>
                        <td>{{cliente.estado}}</td>
                        <td>
                            <button (click)="EditarCliente(modalEdit,cliente)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <!--
                            <button (click)="eliminarRegistro(cargo.id)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                        -->
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #modalEdit>
    <app-ven-registro-cliente
    [title]="titleModal"
    [responsListCliente]="responseListC"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)"
    ></app-ven-registro-cliente>
</ng-template>

