<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <!-- (click)="modalRef?.hide()" -->
    <button (click)="cerrarModal(true)" type="button" class="btn-close close pull-right" aria-label="Close">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form [formGroup]="myForm">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="">ID</label>
                    <input formControlName="id" type="text" class="form-control" placeholder="Ingrese el Identificador">
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="">Código</label>
                    <input formControlName="codigo" type="text" class="form-control" placeholder="Ingrese el código">
                </div>
                <!--
                <div *ngIf="myForm.get('codigo')?.errors &&  myForm.touched ">
                    <small class="text-danger" *ngIf="myForm.get('codigo')?.hasError('required')"> Campo requerido
                    </small>
                </div>
                -->
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="">Nombre del cargo</label>
                    <input formControlName="nombre" type="text" class="form-control"
                        placeholder="Ingrese el nombre del cargo">
                </div>
                <!--
                <div *ngIf="myForm.get('nombre')?.errors &&  myForm.touched ">
                    <small class="text-danger" *ngIf="myForm.get('nombre')?.hasError('required')"> Campo requerido
                    </small>
                </div>
                -->
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="">Estado</label>
                    <select formControlName="idEstado" class="form-select">
                        <option value=true>Activo</option>
                        <option value=false>Inactivo</option>
                    </select>
                </div>
            </div>



            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <!--
                    <button [disabled]="myForm.invalid" (click)="guardar()"
                        class="btn-block btn btn-primary btn-sm">GUARDAR</button>
                    -->    
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <button class="btn-block btn btn-danger btn-sm" (click)="cerrarModal(true)">CANCELAR</button>
                </div>

            </div>

        </div>
    </form>

</div>